List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

denoted by=[]

In [2]:
mylist=["apple","banana","cherry"]
print(mylist)

mylist=["apple","banana","cherry"]
print(len(mylist))

['apple', 'banana', 'cherry']
3

In [3]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [4]:
#The list() Constructor

list2=list(("apple","banana","cherry"))
print(list2)

['apple', 'banana', 'cherry']

In [11]:
#accessing list items

list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
     #  1         2        3       4        5         6         7
     #  -7       -6       -5      -4       -3        -2        -1
print(list3[3])
print(list3[0:])        #from 0 to last
print(list3[:6])        #from 0 to 6
print(list3[2:5])       #from 2 to 5
print(list3[:-1])       #from -7 to -1 but not include -1
print(list3[-6:])       #from -6 to -1
print(list3[-5:-2])     #from -5 to -2 but -2 is not include

mango
['apple', 'banana', 'cherry', 'mango', 'guava', 'pineapple', 'grapes']
['apple', 'banana', 'cherry', 'mango', 'guava', 'pineapple']
['cherry', 'mango', 'guava']
['apple', 'banana', 'cherry', 'mango', 'guava', 'pineapple']
['banana', 'cherry', 'mango', 'guava', 'pineapple', 'grapes']
['cherry', 'mango', 'guava']

In [16]:
#changing list items
list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
list3[0]="blackberry"
print(list3)


list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
list3[4:2]=["orange","watermelon"]
print(list3)

['blackberry', 'banana', 'cherry', 'mango', 'guava', 'pineapple', 'grapes']
['apple', 'banana', 'cherry', 'mango', 'orange', 'watermelon', 'guava', 'pineapple', 'grapes']

In [19]:
#insert element
list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
list3.insert(5,"pineapple")
print(list3)

#append item
list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
list3.append("avacado")
print(list3)

#extend list items
list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
extended=["carrot","patato"]
list3.extend(extended)
print(list3)

['apple', 'banana', 'cherry', 'mango', 'guava', 'pineapple', 'pineapple', 'grapes']
['apple', 'banana', 'cherry', 'mango', 'guava', 'pineapple', 'grapes', 'avacado']
['apple', 'banana', 'cherry', 'mango', 'guava', 'pineapple', 'grapes', 'carrot', 'patato']

In [30]:
#remove from list

list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
list3.remove("cherry")
print(list3)

#pop
list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
list3.pop(4)
print(list3)

#del
list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
del list3[3]
print(list3)

#clear
list4=["apple","banana","cherry","mango","guava","pineapple","grapes"]
list4.clear()
print(list4)

['apple', 'banana', 'mango', 'guava', 'pineapple', 'grapes']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'grapes']
['apple', 'banana', 'cherry', 'guava', 'pineapple', 'grapes']
[]

In [31]:
#loops in list

list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
for i in list3:
    print(i)

apple
banana
cherry
mango
guava
pineapple
grapes

In [34]:
#sorting list

list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
list3.sort()
print(list3)        #according to aplhabets


list4=[40,47,70,10,20,5,87,33]
list4.sort()
print(list4)

list4=[40,47,70,10,20,5,87,33]
list4.sort(reverse=True)
print(list4)

['apple', 'banana', 'cherry', 'grapes', 'guava', 'mango', 'pineapple']
[5, 10, 20, 33, 40, 47, 70, 87]
[87, 70, 47, 40, 33, 20, 10, 5]

In [ ]:
#copy list    list cannot be copy as list1=list2

In [39]:
list4=[40,47,70,10,20,5,87,33]
copied_list=list4.copy()
print(copied_list)

[40, 47, 70, 10, 20, 5, 87, 33]

In [ ]:
#joining two list

list3=["apple","banana","cherry","mango","guava","pineapple","grapes"]
list4=[40,47,70,10,20,5,87,33]

list3.extend(list4)
print(list3)

['apple', 'banana', 'cherry', 'mango', 'guava', 'pineapple', 'grapes', 40, 47, 70, 10, 20, 5, 87, 33]
['apple', 'banana', 'cherry', 'mango', 'guava', 'pineapple', 'grapes', 40, 47, 70, 10, 20, 5, 87, 33, 40, 47, 70, 10, 20, 5, 87, 33]

append()	   :Adds an element at the end of the list

clear()	       :Removes all the elements from the list

copy()	       :Returns a copy of the list

count()	       :Returns the number of elements with the specified value

extend()	   :Add the elements of a list (or any iterable), to the end of the current list

index()        :Returns the index of the first element with the specified value

insert()	   :Adds an element at the specified position

pop()	       :Removes the element at the specified position

remove()	   :Removes the item with the specified value

reverse()	   :Reverses the order of the list

sort()	       : Sorts the list