Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Set items are unordered, unchangeable, and do not allow duplicate valu

denoted by={}

In [1]:
set1={1,2,3,4,4,"sujal"}
print(set1)

{1, 2, 3, 4, 'sujal'}

In [2]:
#set constructor

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [6]:
#accessing in sets
set1={1,2,3,4,4,"sujal"}
for i in set1:
    print(i)

set1={1,2,3,4,4,"sujal"}
if "sujal" in set1:
    print("present")

set1={1,2,3,4,4,"sujal"}
if "sujal" not in set1:
    print("true")
else:
    print("false")

1
2
3
4
sujal
present
false

In [2]:
#add in set and update  set

#add()
set1={1,2,3,4,4,"sujal"}
set1.add("didwaniya")
print(set1)

#update()
set1={1,2,3,4,4,"sujal"}
set2={"didwaniya","male"}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 'sujal', 'didwaniya'}
{1, 2, 3, 4, 'male', 'sujal', 'didwaniya'}

In [6]:
#removing from sets

set1={1,2,3,4,4,"sujal"}
set1.remove(2)
print(set1)

#discard

set1={1,2,3,4,4,"sujal"}
set1.discard(3)
print(set1)

#pop
set1={1,2,3,4,4,"sujal"}
set1.pop()
print(set1)

{1, 3, 4, 'sujal'}
{1, 2, 4, 'sujal'}
{2, 3, 4, 'sujal'}

In [ ]:
#joining sets

#1st-union(|)
set1={1,2,3,4,4,"sujal"}
set2={6,7,8}

x=set1.union(set2)
print(x)

#or using(|) means union
set1={1,2,3,4,4,"sujal"}
set2={6,7,8}

x=set1|set2
print(x)

#joining multiple sets
set1={1,2,3,4,4,"sujal"}
set2={6,7,8}
set3={"male","20 years old"}
set4={"student"}

x=set1|set2|set3|set4
print(x)




#intersection(&)
#give that item that present in bot the sets

set1={1,2,3,4,4,"sujal"}
set2={6,7,8,"sujal"}

x=set1.intersection(set2)
print(x)

#or using(&)
set1={1,2,3,4,4,"sujal"}
set2={6,7,8,"sujal"}

x=set1&set2
print(x)

#intersection_update=it will change the set to the output set 




#Differnce(-)=The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

set1={1,2,3,4,5}
set2={1,6,7,8,9}

x=set1.difference(set2)
print(x)

#or using (-)
set1={1,2,3,4,5}
set2={1,6,7,8,9}

x=set1-set2
print(x)


#Symmetric Differences(^)=give those value from both sets where same value is not present

set1={1,2,3,4,5}
set2={1,6,7,8,9}

x=set1.symmetric_difference(set2)
print(x)


set1={1,2,3,4,5}
set2={1,6,7,8,9}

x=set1^set2
print(x)

{1, 2, 3, 4, 6, 7, 8, 'sujal'}
{1, 2, 3, 4, 6, 7, 8, 'sujal'}
{1, 2, 3, 4, 'student', 6, 7, 8, '20 years old', 'male', 'sujal'}
{'sujal'}
{'sujal'}
{2, 3, 4, 5}
{2, 3, 4, 5}
{2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 4, 5, 6, 7, 8, 9}

add()	 	Adds an element to the set

clear()	 Removes all the elements from the set

copy()	 	Returns a copy of the set

difference()	-	Returns a set containing the difference between two or more sets

difference_update()	-=	Removes the items in this set that are also included in another, specified set

discard()	 	Remove the specified item

intersection()	&	Returns a set, that is the intersection of two other sets

intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	 	Returns whether two sets have a intersection or not

issubset()	<=	Returns whether another set contains this set or not

 	<	Returns whether all items in this set is present in other, specified set(s)

issuperset()	>=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set

pop()	 	Removes an element from the set

remove()	 	Removes the specified element

symmetric_difference()	^	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another

union()	|	Return a set containing the union of sets

update()	|=	Update the set with the union of this set and others